<div class='col-md-4 cols' id='geninfocol'>
    <div class='inner-event'>
        <h3 class='underline-title'><a href="../generalinfo">General Information</a><span
                    class="glyphicon glyphicon-plus pull-right open-modal" data-toggle="modal" data-type=1
                    data-target="#add-announcement" aria-hidden="true"></span></h3>
        <div class='row innerrow'>
            <% for(var i = 1; i < 4; i++) { if(typeof generalinfo[generalinfo.length - i] !== 'undefined') { %>

            <div class='col-md-12 announce panel panel-default open-modal' data-show='overview' data-type=1
                 data-id=<%- generalinfo[generalinfo.length - i]._id %> data-toggle="modal"
                 data-target="#add-announcement">
                <h4 class='panel-heading'>
                    <span class='title'><%- generalinfo[generalinfo.length - i].title %></span></h4>
                <div class='panel-body'>
                    <div class='lead remove-style data-text'>
                        <%- generalinfo[generalinfo.length - i].description %>
                    </div>
                    <small class='read-more'><a data-toggle="modal" data-target="#add-info">Read more...</a></small>
                </div>
            </div>
            <% } } %>

        </div>
    </div>
</div>