<head>
<meta charset="utf-8">
<title>Summer and Winter schools - University of Groningen</title>
<link rel="icon" href="https://nestor.rug.nl/ui/bb-icon2.ico">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    .full {
        height: 100%;
        width: auto !important;
        overflow-x: hidden !important;
    }

    #wrap {
        background-color: #e3e3e3;
    }

    #lecturer-name{
      text-align: center;
    }
    .thumbnail{
      width: 250px;
      height: 400px;
    }
    .data-text {
  		display:none;
  	}
    .img-thumbnail {
      width:150px;
      heigh:150px;
    }
    .lead {
      display: block;
      display: -webkit-box;
      max-width: 100%;
      height: 125px;
      margin: 0 auto;
      line-height: 1.2;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    a>img {
        height: 100%;
        top: 0;
        position: absolute;
    }
    .navbar {
        background-color: #0A9BEB;
        border-radius: 0px;
        margin: 0;
        padding: 0;
    }

    .navbar-brand {
        position: relative;
        left: 0;
        background-color: #fff;
    }

    #menu-bar .navbar-brand:hover,
    #menu-bar .navbar-brand:focus {
        background-color: #fff;
        outline: none;
    }

    .navbar-header {
        background-color: #fff;
        margin: 0;
        padding: 0;
    }
    .underline-title {
        padding-bottom: 10px;
        border-bottom: 2px solid #333;
        text-align: center;
    }
    #event-screen {
        background-color: #f0f0f0;
        padding: 30px;
        min-height: 100%;
    }

    #event-screen .cols .inner-event:first-child {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }

    #event-screen .cols .inner-event:last-child {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }
    .innerrow {
        width: 100%;
        margin: auto ;
        padding: 25px;
        -webkit-box-shadow: 1px 1px 1px 1px rgba(170, 170, 170, 1);
        -moz-box-shadow: 1px 1px 1px 1px rgba(170, 170, 170, 1);
        box-shadow: 1px 1px 1px 1px rgba(170, 170, 170, 1);
    }
    .no-select {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .inner-event {
        background-color: #fff;
        padding: 15px;
        -webkit-box-shadow: 1px 1px 1px 1px rgba(170, 170, 170, 1);
        -moz-box-shadow: 1px 1px 1px 1px rgba(170, 170, 170, 1);
        box-shadow: 1px 1px 1px 1px rgba(170, 170, 170, 1);
    }
    .read-more {
        color: #0A9BEB;
        cursor: pointer;
    }
    .list-group-item-text {
      font-size: 25px;
      margin-bottom: 0;
      line-height: 1.3;
      text-overflow: ellipsis;
      text-align: left;
    }
    #wrap .navbar-nav>li>a {
        color: #fff;
    }

    #wrap .navbar-nav>li>a:focus {
        color: #0A9BEB;
        background-color: #fafafa;
    }
    .dropdown-menu>li>a:hover{
      background-color: #0A9BEB;
    }
  .panel {
    	transition: all .15s ease-in-out;
    }
	.panel:hover {
		transform: scale(1.02);
	}
	body, #wrap {
		background-color:#f0f0f0;
	}
</style>
</head>
