<head>
    <meta charset="utf-8">
    <title>Summer and Winter schools - University of Groningen</title>
    <link rel="icon" href="https://nestor.rug.nl/ui/bb-icon2.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <% include web_header %>
    <style>
        <% include css/lecturerpage.css %>
    </style>
    <script>
        <% include js/lecturerpage.js %>
    </script>
</head>
