<head>
<meta charset="utf-8">
<title>Summer and Winter schools - University of Groningen</title>
<link rel="icon" href="https://nestor.rug.nl/ui/bb-icon2.ico">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<style>
    .full {
        height: 100%;
        width: auto !important;
        overflow-x: hidden !important;
    }

    #wrap {
        background-color: #e3e3e3;
    }

    .col-md-4 {
        padding: 10px;
    }
    .col-md-8 {
        padding: 10px;
    }
    .lead {
	    display: block;
	    display: -webkit-box;
	    max-width: 100%;
	    height: 75px;
	    margin: 0 auto;
	    line-height: 1.2;
	    -webkit-line-clamp: 3;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    text-overflow: ellipsis;
    }
    img {
        height: 100%;
        top: 0;
        position: absolute;
    }

    .navbar {
        background-color: #0A9BEB;
        border-radius: 0px;
        margin: 0;
        padding: 0;
    }

    .navbar-brand {
        position: relative;
        left: 0;
        background-color: #fff;
    }

    #menu-bar .navbar-brand:hover,
    #menu-bar .navbar-brand:focus {
        background-color: #fff;
        outline: none;
    }

    .navbar-header {
        background-color: #fff;
        margin: 0;
        padding: 0;
    }

    #event-screen {
        background-color: #f0f0f0;
        padding: 30px;
        min-height: 100%;
    }

    #event-screen .cols .inner-event:first-child {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }

    #event-screen .cols .inner-event:last-child {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }

    .announce {
        width: 100%;
        margin: 0;
        height: 155px;
        margin-top: 15px;
        padding: 0;
    }
    .announce .panel-heading {
	    margin: 0;
    }

    #event-screen .panel {
	    cursor:pointer;
    }


    .underline-title {
        padding-bottom: 10px;
        border-bottom: 2px solid #333;
    }

    .innerrow {
        width: 100%;
        margin: 0;
    }
    .no-select {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .inner-event {
        background-color: #fff;
        padding: 8px;
        -webkit-box-shadow: 1px 1px 1px 1px rgba(170, 170, 170, 1);
        -moz-box-shadow: 1px 1px 1px 1px rgba(170, 170, 170, 1);
        box-shadow: 1px 1px 1px 1px rgba(170, 170, 170, 1);
    }

    .announce h4>.badge {
        vertical-align: middle;
    }

    .read-more {
        color: #0A9BEB;
        cursor: pointer;
    }
    .list-group-item-text {
      font-size: 25px;
      margin-bottom: 0;
      line-height: 1.3;
      text-overflow: ellipsis;
      text-align: left;
    }
    #wrap .navbar-nav>li>a {
        color: #fff;
    }

    a:link {color: black;}
    a:visited {color: black;}
    a:hover {color: black;}
    a:active {color: black;}

    #wrap .navbar-nav>li>a:focus {
        color: #0A9BEB;
        background-color: #fafafa;
    }
    .list-group-item {
      position: relative;
      display: block;
      padding: 10px 15px;
      margin-bottom: -1px;
      background-color: #fff;
      border: 1px solid #ddd;
      width: 100%
    }
    .glyphicon-plus {
        cursor: pointer;
    }

    .dropdown-menu>li>a:hover{
      background-color: #0A9BEB;
    }

    .glyphicon-plus:hover {
        color: #0A9BEB;
    }

    .modal-body textarea {
        max-width: 100%;
    }
    .panel {
    	transition: all .15s ease-in-out;
    }
	.panel:hover {
		transform: scale(1.02);
	}
	.scheduleCol .list-group-item {
		cursor:pointer;
		padding:0;
	}
	.scheduleCol .list-group-item h5{
		font-size: 110%;
		margin:0;
		padding:10px 15px;
	}
	.scheduleCol .list-group-item .panel-collapse{
		border-top:1px solid #ddd;
		cursor:auto;
	}
	body, #wrap {
		background-color:#f0f0f0;
	}
	#add-announcement .modal-show-body {
		padding:0;
	}
	#add-announcement .modal-show-body .jumbotron {
		margin-bottom:0;
	}
	#add-announcement .read-more {
		display:none;
	}
	.data-text {
		display:none;
	}
</style>
 <script>
    var titles = ["Add an announcement", "Add general information"];
    var editTitles = ["Edit the announcement", "Edit general information"];
    var buttonTexts = ["Post announcement", "Add section"];
    var sectionHeaders = ["Title of announcement", "Information header"];
    var links = ["/announcement/item", "/generalinfo/item"];
    
    
    function addNewItem(type, edit) {
    	$('.back').hide();
    	if(edit) {
    		$('#add-announcement .finish').data('type', 'edit');
	    	$('#add-announcement .delete').show();
    	}  else {
    		$('#add-announcement .finish').data('type', 'add');
	    	$('#add-announcement .delete').hide();
    	}
	    $('#add-announcement .modal-title').html("<p>" + (edit ? editTitles[$type] : titles[$type]) + "</p>");
		$('#add-announcement #section-header').html(sectionHeaders[$type]);
		$('#add-announcement .finish').html((edit ? "Edit" : buttonTexts[$type]));
		$('#add-announcement .edit').hide();
		$('#add-announcement .finish').show();
		$('#add-announcement .preview').show();
		$('#add-announcement form').attr('action', links[$type]);
		$('#add-announcement .modal-add-body').show();
		$('#add-announcement .modal-show-body').hide();
		if($type == 1) {
			 $('#add-announcement .target').hide();
		} else {
			$('#add-announcement .target').show();
		}
    };
    
    function displayItem(title, text, $type) {
    		   $('.back').hide();
	    	   $('#add-announcement .target').hide();
		   	   $('#add-announcement .modal-add-body').hide();
		   	   $('#add-announcement .modal-show-body').show();
		   	   $('#add-announcement .modal-title').html(title);
			   $('#add-announcement .modal-show-body .jumbotron').html(text);
   		   	   $('#add-announcement').data("type", $type);
			   $('#add-announcement .edit').show();
			   $('#add-announcement .finish').hide();
			   $('#add-announcement .preview').hide();
			   $('#add-announcement .delete').hide();
    };
    
    
    $(function(){
	    $('.finish').click(function(event) {
	    $type = $(this).data('type');
	    	if(confirm("Are you sure that you want to " + $type + "?")) {
		        if(!$('#announcementDescription').val() || !$('#announcementTitle').val()) {
		        	event.preventDefault();
		        	alert("Please fill in a title and content");
		        } else if($type== "edit"){
			        event.preventDefault();
			        $.ajax({
				    url: links[$('#add-announcement').data('type')] + '?id=' + $('#add-announcement').data('id') + '&description=' + $('#announcementDescription').val() + '&title=' + $('#announcementTitle').val(),
				    type: 'PUT',
				    success: function(result) {
				        location.reload();
				 }
				});
				}
		    } else {
			    event.preventDefault();
		    }
	    });
	    $('.back').click(function(){
		    addNewItem($('#add-announcement').data('type'), false);
	    });
    	$('#add-announcement .delete').click(function() {
    		if(confirm("Are you sure you want to delete?")) {
    			$.ajax({
				    url: links[$('#add-announcement').data('type')] + '?id=' + $('#add-announcement').data('id'),
				    type: 'DELETE',
				    success: function(result) {
				        location.reload();
				        
				 }
				 });
				 event.preventDefault();
    		} else {
	    		event.preventDefault();
    		}

    	});
    	$('.edit').click(function() {
    		var editTitleValue = $('#add-announcement .modal-title').text();
    		var editTextValue = $('#add-announcement .modal-show-body .jumbotron').html();
    		addNewItem($('#add-announcement').data('type'), true);
    		$('#add-announcement form').attr('action', links[$('#add-announcement').data('type')]);
    		$('#announcementTitle').val(editTitleValue);
    		$('#announcementDescription').val(editTextValue);
    	});
    	$('.preview').click(function() {
    	    
    		$add = $('#add-announcement').data('show');
    		displayItem($('#announcementTitle').val(), $('#announcementDescription').val(), $('#add-announcement').data("type"));
    		if($add == 'new') {
	    		$('.back').show();
	    		$('.edit').hide();
    		}
			
    	});
	    $('.open-modal').click(function(){	    	
	       $('#add-announcement').data('id', $(this).data('id'));
	       $('#add-announcement .delete').hide();
	       $type = $(this).data("type");

	       if($(this).data("show") != "overview") {
			   addNewItem($type, false);
			    $('#announcementTitle').val('');
				$('#announcementDescription').val('');
				$('#add-announcement').data('show', 'new');
		   } else {
		   		$('#add-announcement').data('show', 'known');
		   		displayItem($(this).find('span.title').html(), $(this).find('.data-text').html(), $type);
		   }
	    });
    });
    </script>

</head>
