<head>
<meta charset="utf-8">
<title>Summer and Winter schools - University of Groningen</title>
<link rel="icon" href="https://nestor.rug.nl/ui/bb-icon2.ico">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style><% include css/loggedIn.css %></style>
<script><% include js/loggedIn.js %></script>

<script src="https://use.fontawesome.com/e13ee87d2b.js"></script>

<style><% include ../text-editor/markitup/style.css %></style>
<script><% include ../text-editor/markitup/jquery.markitup.js %></script>
<script><% include ../text-editor/markitup/set.js %></script>


<script type="text/javascript">
$(function() {
	$('#announcementDescription').markItUp(mySettings);
});
</script>

</head>
