<div class='col-md-4 cols scheduleCol'>
    <div class='inner-event'>
        <h3 class='underline-title'><a href="../schedulepage">Schedule</a><span class="glyphicon glyphicon-plus pull-right open-modal" data-type=2 data-toggle="modal" data-target="#add-announcement" aria-hidden="true"></span></h3>
        <div class='row innerrow'>
            <ul class="list-group" id='sched-acc'>
                <li class="list-group-item" data-toggle="collapse" data-parent="#sched-acc" href="#monday" aria-expanded="true" aria-controls="monday">
                    <h5>Monday</h5>
                    <div id="monday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mondaySchedule">
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <span>10:00 - 23:00</span><span>Things to do.</span>
                                </li>
                                <li>
                                    <span>10:00 - 23:00</span><span>Things to do.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" data-toggle="collapse" data-parent="#sched-acc" href="#tuesday" aria-expanded="true" aria-controls="tuesday">
                    <h5>Tuesday</h5>
                    <div id="tuesday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="tuesdaySchedule">
                        <div class="panel-body">
                            Things to do.
                        </div>
                    </div>
                </li>
                <li class="list-group-item" data-toggle="collapse" data-parent="#sched-acc" href="#wednesday" aria-expanded="true" aria-controls="wednesday">
                    <h5>Wednesday</h5>
                    <div id="wednesday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="wednesdaySchedule">
                        <div class="panel-body">
                            Things to do.
                        </div>
                    </div>
                </li>
                <li class="list-group-item" data-toggle="collapse" data-parent="#sched-acc" href="#thursday" aria-expanded="true" aria-controls="thursday">
                    <h5>Thursday</h5>
                    <div id="thursday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="thursdaySchedule">
                        <div class="panel-body">
                            Things to do.
                        </div>
                    </div>
                </li>
                <li class="list-group-item" data-toggle="collapse" data-parent="#sched-acc" href="#friday" aria-expanded="true" aria-controls="friday">
                    <h5>Friday</h5>
                    <div id="friday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fridaySchedule">
                        <div class="panel-body">
                            Things to do.
                        </div>
                    </div>
                </li>
                <li class="list-group-item" data-toggle="collapse" data-parent="#sched-acc" href="#saturday" aria-expanded="true" aria-controls="saturday">
                    <h5>Saturday</h5>
                    <div id="saturday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="saturdaySchedule">
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <span>10:00 - 23:00</span><span>Things to do.</span>
                                </li>
                                <li>
                                    <span>10:00 - 23:00</span><span>Things to do.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" data-toggle="collapse" data-parent="#sched-acc" href="#sunday" aria-expanded="true" aria-controls="sunday">
                    <h5>Sunday</h5>
                    <div id="sunday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sundaySchedule">
                        <div class="panel-body">
                            Things to do.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>