<title>Summer and Winter schools - University of Groningen</title>

<link rel="icon" href="../images/icon.ico">

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="icon" href="https://i1.rgstatic.net/ii/institution.image/AS%3A267455245553682@1440777707747_l">

<!-- Bootstrap &  jQuery(UI) -->
<link rel="stylesheet" href="../../dependencies/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<style>
    <% include js/jquery-ui-1.12.1.custom/jquery-ui.css %>
</style>
<script src="../../dependencies/jquery-3.2.1.min.js"></script>
<script src="../../dependencies/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>
    <% include js/jquery-ui-1.12.1.custom/jquery-ui.js %>
</script>

<!-- Additional glyphicons -->
<script src="https://use.fontawesome.com/e13ee87d2b.js"></script>

<!-- Text editor library -->
<style>
    <% include ../text-editor/markitup/style.css %>
</style>
<script>
    <% include ../text-editor/markitup/jquery.markitup.js %>
</script>
<script>
    <% include ../text-editor/markitup/set.js %>
</script>

<!-- General CSS markup -->
<style>
    <% include css/generalMarkup.css %>
</style>
