<title>Summer and Winter schools - University of Groningen</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="icon" href="/public/images/web-icon.png">

<!-- Bootstrap &  jQuery(UI) -->
<link rel="stylesheet" href="/public/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/lib/jquery-ui.custom/jquery-ui.min.css">
<script src="/public/lib/jquery-3.2.1.min.js"></script>
<script src="/public/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/public/lib/jquery-ui.custom/jquery-ui.min.js"></script>

<!-- Additional glyphicons -->
<script src="/public/lib/font-awesome.min.js"></script>

<!-- Text editor library -->
<link rel="stylesheet" href="/public/lib/markitup/style.css">
<script src="/public/lib/markitup/jquery.markitup.js"></script>
<script src="/public/lib/markitup/set.js"></script>

<!-- General CSS markup -->
<link rel="stylesheet" href="/public/dist/css/generalMarkup.css">

<!-- Angular -->
<script src="/public/lib/angular.min.js"></script>
<script src="/public/lib/moment.js"></script>
<script src="/public/lib/angular-moment.min.js"></script>
<script src="/public/lib/angular-animate.min.js"></script>
<script src="/public/lib/angular-touch.min.js"></script>
<script src="/public/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="/public/lib/angular-messages.min.js"></script>
<link rel="stylesheet" href="/public/lib/angular-material.min.css">
<script src="/public/lib/angular-material.min.js"></script>

<script>
	// A 'hack' to ensure we can use functions defined in the NodeJS backend
	var exports = {};
	var userProfile = <%- JSON.stringify(user || {}) %>;
</script>

<script src="/public/dist/js/includeHTML.js"></script>
<script src="/public/dist/js/httpRequest.js"></script>

<script src="/public/dist/js/categories.js"></script>
<script src="/public/dist/js/userRights.js"></script>

<script src="/public/dist/js/controllers/app.js"></script>
<script src="/public/dist/js/controllers/RootController.js"></script>
