<!DOCTYPE html>
<html lang="en" class='full' ng-app="Overview">
<head>
	<% include partials/web_header %>
	<link rel="stylesheet" href="/public/dist/css/informationpages.css">
	<script src="/public/dist/js/announcement.js"></script>
	<script src="/public/dist/js/contentDivider.js"></script>
	<script src="/public/dist/js/buttonHandler.js"></script>
	<script src="/public/dist/js/loggedIn.js"></script>
	<script src="/public/dist/js/controllers/AnnouncementController.js"></script>
</head>
<body class="full" ng-controller="RootController">
<div id='wrap' class='full' ng-controller="AnnouncementController">
	<% include partials/general_navigationbar.html %>
	<div class="row" id="event-screen">
		<div class="col-md-4">
			<div id="content" class="list-group">
				<button
						type="button" class="list-group-item list-group-item-text" id="list-header">
					Announcements
				</button>

				<button
						type="button" class="list-group-item list-group-item-text"
						ng-repeat="announcement in announcements"
						data-description="{{ announcement.description }}"
						data-poster="{{ announcement.poster }}"
						data-title="{{ announcement.title }}"
						data-id="{{ announcement._id }}"
						ng-click="changeContent($event)"
				>
					<span class='pull-left announcement-title'>{{ announcement.title  }}</span>
					<h5 class="details pull-right">
						{{ announcement.created | date }}
					</h5>
				</button>
			</div>
			<ul class="pager">
				<li class="previous">
					<a>&larr; Newer</a>
				</li>
				<li class="next">
					<a>Older &rarr;</a>
				</li>
			</ul>
		</div>
		<div class="col-md-8">
			<div class="inner-event">
				<h3 id='changingTitle' class="underline-title">View Announcement
				</h3>
				<p class='lead' id="changingDescription">Click a title to select an announcement</p>
				<button type="button" id="editSection" class="btn btn-primary open-modal" data-show='overview'
						data-toggle="modal"
						data-type=0 data-target="#add-announcement" data-page="true">Edit
				</button>
				<div id='authorContainer'><h5 class="details" id="changingPoster"></h5></div>
			</div>
		</div>
	</div>
</div>
<% include partials/modal.html %>
</body>
</html>
