<!DOCTYPE html>
<html lang="en" class='full' ng-app="Overview">
<head>
	<% include partials/web_header %>
	<link rel="stylesheet" href="/public/dist/css/informationpages.css">
	<script src="/public/dist/js/announcement.js"></script>
	<script src="/public/dist/js/buttonHandler.js"></script>
	<script src="/public/dist/js/loggedIn.js"></script>
	<script src="/public/dist/js/controllers/AnnouncementController.js"></script>
</head>
<body class="full" ng-cloak ng-controller="RootController">
<div id='wrap' class='full' ng-controller="AnnouncementController">
	<% include partials/general_navigationbar.html %>
	<div class="row" id="event-screen">
		<div class="col-md-4">
			<div id="content" class="list-group">
				<h2
					class="list-group-item list-group-item-text">
					Announcements
					<span
							class="glyphicon glyphicon-plus pull-right open-modal" data-type=0 data-toggle="modal"
							data-target="#add-announcement" aria-hidden="true"></span>
				</h2>

				<button
						type="button" class="list-group-item list-group-item-text"
						ng-repeat="announcement in announcements | startFrom:(currentPage-1) * pageSize | limitTo: pageSize"
						ng-click="announceClick(announcement._id)"
				>
					<span class='pull-left announcement-title'>{{announcement.title}}</span>
					<h5 class="details pull-right">
						{{announcement.created | date }}
					</h5>
				</button>
			</div>
			<div class="list-group-item pagination-style">
				<ul uib-pagination total-items="announcements.length" ng-model="currentPage" items-per-page="pageSize"></ul>
			</div>
		</div>
		<div class="col-md-8">
			<div class="inner-event">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title pull-left">{{selectedAnnouncement.title}}</h3>
						<div class="pull-right">
							<i class="glyphicon glyphicon-pencil"
							   ng-click="editInfo()"
							   ng-show="deleteDisabled"
							   data-toggle="modal"
							   data-target="#add-announcement"></i>
							<i class="glyphicon glyphicon-trash open-modal"
							   ng-show="deleteDisabled"
							   ng-click="deleteAnnouncement(selectedAnnouncement._id)"></i>
						</div>
					</div>
					<div class='panel-body'>
						<p class="card-text">{{selectedAnnouncement.description}}</p>
					</div>
					<div class="panel-footer">
						<h5 class="pull-left footer-poster">Posted by: {{selectedAnnouncement.author}}</h5>
						<h6 class="text-right">{{ selectedAnnouncement.created | date }}</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include partials/modal.html %>
</body>
</html>
