<!DOCTYPE html>
<html lang="en" class='fill'>

<head>
	<% include partials/web_header %>

	<style>
		.fill {
			min-height: 100%;
			height: 100%;
			overflow: hidden;
		}
	</style>

</head>
<body class='fill'>
<div class="jumbotron fill">
	<h2 class='lead text-center'>Something went wrong! We have logged this error and will try
		to fix it as soon as possible.</h2>
</div>
</body>
</html>
