<!DOCTYPE html>
<html lang="en" class='full'>
<% include partials/generalinfo_header %>
<% generalinfo.reverse()%>
<body class="full">
  <div id='wrap' class='full'>
    <% include partials/general_navigationbar.ejs %>
      <div class="row" id="event-screen">
          <div class="col-md-4">
            <div class="inner-event">
              <h3 class="underline-title">Announcements</h3>
              <div id="content" class="list-group">
                  <%generalinfo.forEach(function(generalinfo){%>
                    <button
                      type="button" class="list-group-item list-group-item-text  change-generalinfo"
                      data-description = "<%=generalinfo.description%>"
                      data-poster = "<%=generalinfo.poster%>">
                      <%=generalinfo.title %>
                    </button>
                  <%});%>
              </div>
              <ul class="pager">
                <li class="previous">
                    <a>&larr; Newer</a>
                </li>
                <li class="next">
                  <a>Older &rarr;</a>
                </li>
            </ul>
            </div>
          </div>
        <div class="col-md-8">
          <div class="inner-event">
            <h3 class="underline-title">View Announcement
            </h3>
            <h4 id="changingDescription">Click a title to select an announcement</h4>
            <h5 class="details" id="changingPoster"></h5>
          </div>
        </div>
      </div>
    </div>
</body>
