<!DOCTYPE html>
<html lang="en" class='full'>
	<% include partials/loggedin_header %>
    <body class='full'>
        <div id='wrap' class='full'>
            <% include partials/general_navigationbar.ejs %>
            <div class='row'><div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div> </div>
            <div class='row' id='event-screen'>
                <span id='announcementsModule'> <% include partials/announcements %> </span>
                <span id='generalinfoModule'> <% include partials/generalinfo %> </span>
                <span id='scheduleModule'> <% include partials/schedule %> </span>
            </div>

            <% include partials/modal %>

        </div>
    </body>
</html>
