<!DOCTYPE html>
<html lang="en" class='full'>
	<% include partials/loggedin_header %>
    <body class='full'>
        <div id='wrap' class='full'>
            <% include partials/general_navigationbar.ejs %>
            <div class='row' id='event-screen'>
                <% include partials/announcements %>
                <% include partials/generalinfo %>
                <% include partials/schedule %>
            </div>

            <% include partials/modal %>

        </div>
    </body>
</html>