<!DOCTYPE html>
<html lang="en" class='full' ng-app="Overview">
<head>
	<% include partials/web_header %>

	<link rel="stylesheet" href="/public/dist/css/informationpages.css">
	<link rel="stylesheet" href="/public/dist/css/options.css">
	<script src="/public/dist/js/announcement.js"></script>
	<script src="/public/dist/js/contentDivider.js"></script>
	<script src="/public/dist/js/inputValidation/validators.js"></script>
	<script src="/public/dist/js/inputValidation/inputValidator.js"></script>
	<script src="/public/dist/js/controllers/OptionController.js"></script>
	<script src="/public/dist/js/directives/js/table.js"></script>
	<script src="/public/dist/js/directives/js/manageButton.js"></script>

</head>
<body class="full" ng-controller="RootController">
<div id='wrap' class='full' ng-controller="OptionController">
	<% include partials/general_navigationbar.html %>
	<% include partials/alertMessage.html %>
	<div class="row" id="event-screen">
		<div class="col-md-4">
			<div id="content" class="list-group">
				<button type="button" class="list-group-item list-group-item-text" id="list-header">
					Options
				</button>

				<manage-button ng-repeat="section in sections" item="section" ng-click="changeSection($event)"></manage-button>

			</div>
		</div>
		<div class="col-md-8">
			<div class="inner-event">
				<h3 id='changingTitle' class="underline-title">View options</h3>
				<div id="changingDescription">
					<div id='fix'>
						<div id='innerContent'>
							<div id="initialMessage">Select one of the options</div>
							<div ng-repeat="section in sections" ng-attr-id="{{ section.selector }}" ng-include="'partials/' + section.file"></div>
						</div>
					</div>
				</div>
				<div id='authorContainer'><h5 class="details"></h5></div>
			</div>
		</div>
	</div>
</div>
</body>
