<!DOCTYPE html>
<html lang="en" class='full'>
<head>
    <% include partials/web_header %>
    <style>
        <% include partials/css/announcement.css %>
    </style>
    <style>
        <% include partials/css/options.css %>
    </style>
    <script>
        <% include partials/js/announcement.js %>
    </script>
    <script>
        <% include partials/js/contentDivider.js %>
    </script>
</head>
<body class="full">
<div class='tooltip' role='tooltip'>
    <div class='tooltip-arrow'></div>
    <div class='tooltip-inner'>Hello my name is Daan</div>
</div>
<div id='wrap' class='full'>
    <% include partials/general_navigationbar.ejs %>
    <% include partials/alertMessage.ejs %>
    <div class="row" id="event-screen">
        <div class="col-md-4">
            <div id="content" class="list-group">
                <button type="button" class="list-group-item list-group-item-text" id="list-header">
                    Options
                </button>

                <button
                        type="button" class="list-group-item list-group-item-text change-announcement"
                        data-description="<% include partials/manageAdmins %>"
                        data-poster=""
                        data-title="Manage administrators">
                    <span class='pull-left announcement-title'>Manage administrators</span>
                    <h5 class="details pull-right">a</h5>
                </button>

                <button
                        type="button" class="list-group-item list-group-item-text change-announcement"
                        data-description="This has not been implemented yet"
                        data-poster=""
                        data-title="Manage users">
                    <span class='pull-left announcement-title'>Manage forum</span>
                    <h5 class="details pull-right">a</h5>
                </button>

                <button
                        type="button" class="list-group-item list-group-item-text change-announcement"
                        data-description="<% include partials/manageCode %>"
                        data-poster=""
                        data-title="Manage login codes">
                    <span class='pull-left announcement-title'>Manage login codes</span>
                    <h5 class="details pull-right">a</h5>
                </button>
            </div>
        </div>
        <div class="col-md-8">
            <div class="inner-event">
                <h3 id='changingTitle' class="underline-title">View options
                </h3>
                <div id="changingDescription">Select an option</div>
                <div id='authorContainer'><h5 class="details"></h5></div>
            </div>
        </div>
    </div>
</div>
</body>
