#menu-bar img {
    height: 100%;
    top: 0;
    position: absolute;
}
.navbar {
    background-color: #0A9BEB;
    border-radius: 0px;
    margin: 0;
    padding: 0;
}
#menu-bar .navbar-brand {
    position: relative;
    left: 0;
    background-color: #fff;
}
#menu-bar .navbar-brand:hover,
#menu-bar .navbar-brand:focus {
    background-color: #fff;
    outline: none;
}
.navbar-header {
    background-color: #0A9BEB;
    margin: 0;
    padding: 0;
}
.dropdown-menu>li>a:hover {
    background-color: #0A9BEB;
}
#menu-bar .navbar-nav>li>a {
    color: #fff;
}
