.details {
	color:#fff;
}
#wrap .manage:focus {
	outline: none;
}
#wrap:active {
	outline: none;
}
#wrap .manage:hover, #wrap .manage:focus {
	background-color: #fff;
	border-color: #0A9BEB;
}
.btn-group-wrapper {
	width:100%;
	text-align: center;
}
.tab-content {
	position: absolute;
	max-width: 90%;
	min-width:700px;
	padding: 90px;
	padding-top:12px;
}
.inner-event, #innerContent {
	height: 550px;
}
